<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<script type="text/javascript">
$(document).ready(function(){
    $(".add_form").hide();
    $('#add_goal').click(function(event){event.preventDefault();$('.add_form').show();});
    $('#close').click(function(event){event.preventDefault();$('.add_form').hide();});
  });
</script>

<div class="body">
  <% if flash[:success] %>
    <div class="alert alert-success"><%= flash[:success] %><button type="button" class="close" data-dismiss="alert" name="button">&times;</button></div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %><button type="button" class="close" data-dismiss="alert" name="button">&times;</button></div>
  <% end %>
  <div class="top">
    <%= image_tag("rtj-hand.png", :class => "hand", :alt => "rss feed") %>
    <%= image_tag("golden-right.png", :class => "fist", :alt => "rss feed") %>
  </div>
  <div class="headers">
    <h3>Hello, <%=@user.f_name%></h3>
    <h3>It's MayDay, bitch!</h3>
    <a id="profile_link" href="/view_profile/<%=@user.id%>">Your Profile</a> | <a href="/logout">Logout</a>
    <br>
    <br>
    <button id="add_goal" type="submit" class="btn btn-primary">Add Goal</button>
    <br>
    <br>
    <div class="add_form">
      <div class="row">
        <form action="/add_goal" class="input-append" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input autocomplete="off" required="true" class="input" id="field1" name="content" type="text" placeholder=" Type goal..." data-items="8"/>
          <br>
          <br>
          <button class="btn btn-primary btn-sm" type="submit" name="button">Add</button>
          <button class="btn btn-primary btn-sm" id="close" type="button" name="button">Cancel</button>
        </form>
        <br>
      </div>
    </div>
  </div>

  <div class="mid">
      <div class="goals">
        <% if ! @goals %>
          <h4>Set</h4>
          <h4>Some</h4>
          <h4>Goals</h4>
          <h4>You</h4>
          <h4>Lazy</h4>
          <h4>Bitch</h4>
        <% end %>
        <% if @goals %>
          <h3>Goals:</h3>
          <%= Time.zone.now.strftime("%B %d, %Y") %>
          <hr>
          <% @goals.sort_by(&:content).each do |g| %>
            <% if g.completed %>
              <form action="/incomplete_goal/<%=g.id%>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <button type="submit" class="btn btn-success">I'm a liar</button>
                <%= g.content %>
                <hr>
              </form>
             <% else %>
              <form class="" action="/complete_goal/<%=g.id%>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="checkbox" onClick="submit();" name="" value="">
                <%= g.content %>
                <hr>
              </form>
            <% end %>
          <% end %>
        <% end %>
      </div>

    <div class="middle">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag("goals.jpg", :alt => "goals") %>
          </div>

          <div class="item">
            <%= image_tag("goals2.jpg", :alt => "goals2") %>
          </div>

          <div class="item">
            <%= image_tag("goals3.jpg", :alt => "goals3") %>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="others">
      <% if @users.size > 1 %>
        <h3>Other fuck boi participants:</h3>
        <hr>
        <% @users.each do |u| %>
        <% if u != @user %>
        <p><%= u.f_name %> <%= u.l_name %> | <a href="/view_profile/<%=u.id%>">View Profile</a></p>
        <hr>
        <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="failed">
    <% if @goals %>
      <form class="failed_form" action="/failed/<%=@user.id%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button id="failed_btn" type="submit" class="btn btn-danger">I FAILED THE DAY</button></form>
    <% end %>
    <% if @count %>
      <h4 id="countdown">Grounded from alcohol for <strong><%= @count.count %></strong>
        <% if @count.count === 1 %>
          day,
        <% else %>
          days,
        <% end %>
        idiot!</h4>
    <% end %>
  </div>
  <!-- <iframe width="1" height="0" src="https://www.youtube.com/embed/4Jl-BeR4M4c?autoplay=1" frameborder="0" allowfullscreen></iframe> -->
</div>
