<div class="body">
  <h3 id="prof_header"><%= @user.f_name %> <%= @user.l_name %></h3>

  <%= image_tag "/users/#{@user.id}/image/#{@user.avatar_filename}", :class => "prof_pic" if @user.avatar_filename? %>

  <br>

  <div class="prof_link">
    <a href="/show">Dashboard</a> | <a href="/logout">Logout</a><% if @user == @current_user %> | <a href="/edit">Edit Account</a>
    <% end %>
  </div>

  <div class="success">
    <% if @success %>
      <% if @success.days >= 1 %>
        <h5>Successful for <strong><%= @success.days %></strong>
          <% if @success.days == 1 %>
            day!
          <% else %>
            days in a row!</h5>
          <% end %>
      <% end %>
    <% end %>
  </div>

  <br>
  <div class="messages">
    <h4>Messages:</h4>
    <hr>
    <% if @messages.length < 1 %>
      <h4>You have no messages, and probably no friends</h4>
      <hr>
    <% end %>
    <% @messages.each do |m| %>
    <p><strong><%= m.sender.f_name %> <%= m.sender.l_name %>:</strong> <%= m.content %></p>
    <hr>
    <% end %>
    <h4>Post Message:</h4>
    <p><form class="" action="/post_message/<%=@user.id%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <textarea id="text_area" name="content" rows="4" cols="40"></textarea>
      <p><button type="submit" class="btn btn-primary">Post</button></p>
    </form></p>
  </div>

  <div class="user_goals">
    <h4>Goals:</h4>
    <hr>
    <% if @goals %>
      <ul>
        <% @goals.each do |g| %>
          <li><%= g.content %><% if @user == @current_user %> <%= link_to 'Delete', g, :method => 'delete' %><% end %></li>
          <hr>
        <% end %>
      </ul>
    <% end %>
    <% if @goals.length < 1 %>
      <h4>You have no goals, and probably no future</h4>
      <hr>
    <% end %>
  </div>

</div>
